

/* ==========================================================================
   Main Custom CSS
   ========================================================================== */

* {
    box-sizing: border-box;
}

html {
    margin:0;
    padding:0;
}

body {
    overflow-x: hidden;
}

.menu-button{
    margin:100px 0;
}

/*-------------------------Main-widget-menu----------------------*/
#widget-menu{
    /*width: 100%;*/
    /*height:50%;*/
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    transition: all 3s ease 0s;
}

#widget-menu.clicked {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    float:right;
    width: 45%;
}
/*----------------------------------------------*/

/*------------------------------------------------Navigattion of Tabs------------------*/
ul.nav.nav-tabs{
    position: relative;
    z-index: 1;
    white-space: nowrap;
    top: 6px;
    margin-right: 25px;
    border-bottom: none;
}

.tab .nav-tabs li {
    float:right;
}

ul.nav.nav-tabs li a {
    position: relative;
    display: inline-block;
    padding: 1.5em 1.5em 1em;
    color: inherit;
    text-decoration: none;
    margin: 0 -7px;
}

ul.nav.nav-tabs li a>.fa,
ul.nav.nav-tabs li a>span {
    color: grey;
}

ul.nav.nav-tabs li a::before {
    border: .1em solid #aaa;
    background-color: ##D4D4D4;
}

ul.nav.nav-tabs li a::before {
    content: ''; /* To generate the box */
    position: absolute;
    top: 0; right: 0; bottom: .5em; left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #ddd;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}

ul.nav.nav-tabs li.active a:before {
    content: ''; /* To generate the box */
    position: absolute;
    top: 0; right: 0; bottom: .5em; left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #ddd;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}


ul.nav.nav-tabs li.active {
    z-index: 80;
}

ul.nav.nav-tabs li.active a:before {
    margin-bottom: -1px;
    border-top-width: 1px;
}

ul.nav.nav-tabs li.active a:before{
    background: #eee;
}

.tab .nav-tabs li a,
.tab .nav-tabs li a:hover,
.tab .nav-tabs li a:focus {
    background: none;
    border: none;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active a:focus {
    /*color: #fff;*/
    background: none;
    border: none;
    border-radius: 3px 3px 0 0;
}
/*----------------------------------------*/

/*-----------------------------------------Close tab----------------------*/
div.close-tab {
    position: absolute;
    display: inline-block;
    background: #565656;
    width: 32px;
    height: 33px;
    top: 14px;
    right: -25px;
    z-index: -2;
    cursor:pointer
}

div.close-tab .fa.close-icon{
    color: white;
    font-size: 1.4em;
    position: absolute;
    top: 5px;
    left: 10px;
}
/*--------------------------------*/

/*---------------------------------Tab-content-------------------------*/
.tab .tab-content{
    /*background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMyUiIHN0b3AtY29sb3I9IiNkZGRkZGQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');*/
    background: #eee;
    padding: 0 25px;
    /*border-top: 2px solid #858585;*/
    font-size: 16px;
    color: #6c6c6c;
    line-height: 25px;
    -webkit-box-shadow: -1px -1px 9px 2px rgba(153,153,153,1);
    -moz-box-shadow: -1px -1px 9px 2px rgba(153,153,153,1);
    box-shadow: -1px -1px 9px 2px rgba(153,153,153,1);
}

.tab .tab-content h3{
    font-size: 24px;
    margin-top: 0;
}

.grid-divider {
    padding: 25px 0 25px 0;
}


/****************************Section 1 Mail Us***********************/

form.form-horizontal {
    padding: 30px 20px 40px 20px;
}

div.alert.alert-dismissable {
    /*margin: 10px 20px 0px 20px;*/
    margin: 0;
    padding: 5px 20px;
}

div.alert-dismissable .close {
    position: relative;
    top: 1px;
    right: -12px;
    color: inherit;
}

form {
    padding: 15px;
}

.form-group input.mail-to {
    padding-left: 35px;
    background: #D4D4D4;
}

label.mail-to {
    font-size: 0.8em;
    position: relative;
    top: 30px;
    left: 10px;
    margin: 0;
}

.form-group input[type=file] {
    display: none;
    position: absolute;
    opacity:hidden;
}

.form-group label.file-input {
    color: #4B6EC0;
    font-size: 1em;
    cursor: pointer;
    margin-top: 5px;
    font-family: inherit;
}

/*********************************Section 2 FAQ**************************/

div.faq-mail-content {
    padding: 40px 0;
}

div.faq-mail-content>h3 {
    padding-bottom: 10px;
}

div.faq-mail-content>p {
    margin-top: 10px;
}

div.faq-mail-content>hr {
    position: relative;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%,100);
    height: 100%;
    width: 1px;
}

/*Section FAQ-right***************/

div.col-md-8 {
    border-left: 1px solid #9E9E9E;
    padding: 0 25px;
}

div.search-row {
    padding: 0 25px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
    border-radius: 30px;
}

.icon-addon.addon-md .glyphicon{
    position: absolute;
    z-index: 2;
    left: 35px;
    font-size: 14px;
    width: 20px;
    text-align: center;
    padding: 10px 10px 15px 10px;
    top: -0.5px;
}

div.row.search-row {
    margin-bottom: 10px;
}

div.row.text-center.faq-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*margin-top: 15px;*/
}

div.faq-item {
    width: 33.33%;
    padding: 5px 15px 15px 15px;
}

div.faq-item-data {
    padding: 0.8em;
    width: 100%;
}

div.faq-item-data>p,
div.faq-item-data>i{
    line-height: 1.2em;
    color: #4B6EC0;
}

div.faq-item-data:hover,
div.faq-item-data:active,
div.faq-item-data:visited{
    background-color: #FAFAFA;
    border-radius: 3px;

}

@media only screen and (max-width: 479px){
    .tab .nav-tabs li{
        /*width: 100%;*/
        margin-bottom: 5px;
        text-align: center;
    }
    .tab .nav-tabs li a span{
        letter-spacing: 1px;
        opacity: 1;
    }
}